{% extends 'discoveries/base.html' %}

{% block title %}{{ titlemessage }}{% endblock %}

{% block body_block %}
    <p>{{ bodymessage }}</p>

    <p>{{ fruits }}</p>
    <p>{{ discovered_parts }}</p>

    <form action="{% url 'scout:ab' %}" method="post">
        {% csrf_token %}

        {% for fruit in fruits %}
             <input type="checkbox" name="fruits" value="{{ fruit }}">{{ forloop.counter }}<br>
        {% endfor %}

        {% for part in parts %}
            <input type="checkbox" name"parts" value="{{ part.serial_number }}">{{ part.serial_number }}<br>
        {% endfor %}

        <input type="submit" value="Go get them!"><br>

    </form>

{% endblock %}
