{% extends 'scout/base.html' %}

{% block title %}DISCOVERIES{% endblock %}

{% block body_block %}

    <p>{{ bodymessage }}</p>

    <form action="{% url 'scout:discoveries' %}" method="post">
        {% csrf_token %}

        {% for d in all_discoveries %}
            <input type="checkbox" name="chosen_d" value="d.id"><a href="/scout/discoveries/{{ d.id }}/">{{ d.name }}</a><br />
        {% endfor %}

        <input type="submit" value="Do nothing for the moment" />
    </form>


{% endblock %}
