{% extends 'discoveries/base.html' %}

{% block title %}{{ titlemessage }}{% endblock %}

{% block body_block %}
    <p>{{ bodymessage }}</p>

    <form action="{% url 'discoveries:ab' %}" method="post">
        {% csrf_token %}

        {% for part in parts_discovered %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ part.id }}" />
            <label for="choice{{ forloop.counter }}">{{ part.serial_number }}</label><br />
        {% endfor %}

            <input type="checkbox" name="vehicle" value="Bike">I have a bike<br />
            <input type="checkbox" name="vehicle" value="Car">I have a car<br />

        <input type="submit" value="Go and scan, go get them!" />
    </form>

{% endblock %}
