{% extends 'discoveries/base.html' %}

{% block title %}{{ titlemessage }}{% endblock %}

{% block body_block %}
    <p>{{ bodymessage }}</p>

{% if vehiculo %}
    {% for v in vehiculo %}
        <p>{{ v }}</p>
    {% endfor %}
{% endif %}

{% if frutas %}
    {% for fruta in frutas %}
        <p>{{ fruta }}</p>
    {% endfor %}
{% endif %}

{% comment %}
{% if pieza %}
    <p>{{ pieza.serial_number }}</p>
{% endif %}
{% endcomment %}

{% if discos %}
    {{ discos }}<br>
{% endif %}
{% comment %}
{% if discos %}
    {% for disco in discos %}
        <p>{{ disco.id }}</p>
    {% endfor %}
{% endif %}
{% endcomment %}

{% endblock %}
