<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}La Casa de la Bomba{% endblock %}</title>
    </head>

    <body>
        <div>
            <!-- Page specific content goes here -->
            {% block body_block %}{% endblock %}
        </div>

        <hr />

        <div>
            <ul>
                <li><a href="{% url 'discoveries:aa' %}">Aa</a></li>
                <li><a href="{% url 'discoveries:ab' %}">Ab</a></li>
                <li><a href="{% url 'discoveries:index' %}">Index</a></li>
                <li><a href="{% url 'support:reconcile' %}">Reconcile</a></li>
                <li><a href="{% url 'discoveries:reports' %}">Reports</a></li>
            </ul>
        </div>
    </body>
</html>
