{% extends 'base.html' %}

{% block title %}INDEX DISC{% endblock title %}

{% block content %}

    <p>{{ bodymessage }}</p>

    <form action="{% url 'discoveries:index' %}" method="post">
        {% csrf_token %}

        {% for d in all_discoveries %}
            <input type="checkbox" name="chosen_d" value="d.id"><a href="/discoveries/{{ d.id }}/">{{ d.name }}</a><br />
        {% endfor %}

        <input type="submit" value="Do nothing for the moment" />
    </form>


{% endblock content %}
