{% extends 'discoveries/base.html' %}

{% block title %}{{ titlemessage }}{% endblock %}


{% block body_block %}

    <p>{{ bodymessage }}</p>

    {% for n in networks %}
        <p>{{ n.network }}</p>
    {% endfor %}


    {% for dic in list_of_dictionaries %}
        <p>{{ dic }}</p>
        <p>{{ dic.network }}</p>
        <p>{{ dic.communities }}</p>
        {% for community in dic.communities %}
            <p>{{ community }}</p>
        {% endfor %}
    {% endfor %}


    {% if ip_collections %}
        {% for ipc in ip_collections %}
            {% for ip in ipc %}
                <p>{{ ip }}</p>
            {% endfor %}
        {% endfor %}
    {% endif %}

{% endblock %}
