{% extends 'base.html' %}

{% block content %}

    <p>{{ bodymessage }}</p>

    <hr />
    <p>Parts Supported</p>

    <form action="{% url 'support:edit_many_part_supported' %}" method="post">
    {% csrf_token %}

    <table>
        <tr>
            <td>Edit</td>
            <td>Select</td>
            <td>Hostname</td>
            <td>Serial number</td>
            <td>Part number</td>
        </tr>


        {% for part in parts_supported %}
        <tr>
            <td><a href="/support/edit_one/{{ part.id }}/">Edit</a></td>
            <td><input type="checkbox" name="chosen_parts" value="{{ part.id }}"></td>
            <td>{{ part.hostname }}</td>
            <td>{{ part.serial_number }}</td>
            <td>{{ part.part_number }}</td>
        </tr>
        {% endfor %}

    </table>
    <input type="submit" value="Take me to Edit Many">
    </form>


{% endblock content %}
